@charset UTF-8
/* Reset Styles */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}ul{list-style: none;margin:0;padding:0;}body,div,p{margin:0;padding:0}

body {
    font-family: /*'Encode Sans Condensed', */sans-serif;
    line-height: 1.3;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    padding: 1%;
    overflow: auto;
    z-index: 100;
    background: rgba(9, 64, 76, 0.9);
    box-shadow: 0px 0px 5px 1px #5f5f5f;
}
.logo {
    float: left;
}
.logo p {
    color: #fff;
    font-size: 2em;
}
nav {
    float: right;
    width: 65%;
}
nav li {
    float: left;
    width: 25%;
    text-align: center;
}
nav li a {
    display: block;
    padding: 10px;
    color: #fff;
}

.inner {
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}
.inner1 {
    position: relative;
    width: 90%;
    max-width: 1200px;
    /* height: 100vh; */
    margin: auto;
}
.align-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: auto;
}
h1 {
    font-size: 24px;
    color: #1895c5;
}
h2 {
    margin-top: 6%;
}
#profile {
    border-bottom: 2px dotted #ccc;
    /* background: #04b4d0; */
    /* background: linear-gradient(to right, #009eda, #04b4d0); */
    margin: 0 5%;
}
.top-image {
    width: 40%;
    padding: 6% 0;
    border: 2px outset #efefef;
    text-align: center;
    float: left;
}
.top-image img {
    width: 50%;
    border-radius: 50%;
}
.profile-box {
    float: right;
    width: calc(59% - 2%);
    margin-left: 2%;
}
time {
    margin-bottom: 20px;
    margin-top: -10px;
    color: #0ab9d4;
    display: block;
    font-size: 14px;
}
blockquote {
    display: inline;
    margin: 0;
}
mark {
    background: transparent;
    color: #888;
}
mark a {
    color: #888;
}
#experience ul, #skills ul {
    list-style: disc;
    padding-left: 15px;
}
footer {
    padding: 5%;
    margin-top: 10%;
    color: #fff;
    font-size: 12px;
    background: #001e25;
}
